    <html>
        <head>
            <title>Moviles Apps</title>
        </head>
        <body>
            <div>
                <h1><a href="">Moviles Apps</a></h1>
            </div>

    {% for Movil in moviles %}
        <div>
            <h1><a href="">{{ Movil.modelo }}</a></h1>
            <p>Lanzamiento: {{ Movil.fecha_lanzamiento }}</p>
            <p>Fabricante: {{ Movil.fabricante }}</p>
            <p>Version de OS: {{ Movil.versionOS }}</p>
            <p>{{ Movil.text|linebreaks }}</p>
        </div>
    {% endfor %}
        </body>
    </html>
